{% extends 'base.html' %}

{% block title %}{{ title }} | Corretor de Gabarito{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}Preencha os dados da escola{% endblock %}

{% block content %}
<div class="card">
    <form method="post" class="form-stack">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="quick-actions">
            <button type="submit" class="btn btn--primary">Salvar</button>
            <a href="{% url 'schools:school_list' %}" class="btn btn--secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
